<h2 class="h2">Modifier localisation</h2>
<br>
<form [formGroup]="snapForm" (keydown.enter)="$event.preventDefault()">
  <div class="container ">

    <label class="">id:</label>
    <input type="text" formControlName="id" required class="form-control"/>
    <br>
    <label for="what3words">what3words address :</label>
    <what3words-autosuggest strict="false" api_key="DSC4SN4O">
      <input type="text" id="what3words" name="what3words" class="form-control" #box2 formControlName="location" [value]="val"/>
    </what3words-autosuggest>
    <br>
    <button type="submit" (click)="formSubmit(box2.value)" [disabled]="snapForm.invalid" class="btn">Modifier</button>
    <br><br>
    <button class="btn btn-light text-decoration-underline text-info" (click)="openMap()" id="buttonMap">I need help to find my What3words address</button>
    <br><br>
    <div id="map" *ngIf="display">
      <app-w3wmap></app-w3wmap>
    </div>
  </div>
</form>
