<form [formGroup]="snapForm">
  <div class="container">

    <label>Color:</label>
    <input type="text" formControlName="color" required/>
    <br>
    <label>Wheels:</label>
    <input type="text" formControlName="wheels" required/>
    <br>

    <label for="what3words1">what3words address :</label>
    <what3words-autosuggest strict="false" api_key="DSC4SN4O">
      <input type="text" id="what3words1" name="what3words1" formControlName="location"/>
    </what3words-autosuggest>
  </div>
  <button type="submit" (click)="formSubmit()" [disabled]="snapForm.invalid">Ajouter</button>
</form>
<br>
<div *ngFor="let voiture of voitures">
  La voiture {{voiture.id}} est de couleur {{voiture.color}}
</div>
